{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='main.css')}}">
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - LawSuite{% else %}Welcome to LawSuite{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div>
            <a class="navbar-brand" href="{{url_for('index')}}"><font size="+3"><span style="color:Navy;">Law</span>Suite</font></a>
            <a href="{{url_for('login')}}"><button type="button" class="btn btn-default navbar-btn" style="float: right;  margin-right: 10px;">Sign in</button></a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}