{% extends "base.html" %}

{% block content %}
    <div class="gamerow">
        <div class="col-sm-8 col-md-6">
        <div class="thumbnail">
            <div class="large-image">
                <img src="https://sm.ign.com/ign_ap/screenshot/default/screenshot-gathertown-20210709-17-56-26fffd_jx1f.png" class="img-rounded large-thumbnail-img">
            </div>
            <div class="caption">
            <h3>Gather Town</h3>
            <p class="large-description">Gather Town is a web-conferencing software like Zoom, but with the added component of seeing the virtual “room” you and others are occupying, and with the ability to move around and interact with other participants based on your locations in the room, just like real life.</p>
            <p><a href="https://gather.town/app/KUL5FDsIS45HkrOu/Spam%20Conspiracy" target="_blank" class="btn btn-primary" role="button">Play Game!</a></p>
            </div>
        </div>
        </div>
        <div class="col-sm-8 col-md-6">
            <div class="thumbnail">
                <div class="large-image">
                    <img src="..\static\Question_Prompts.png" class="img-rounded large-thumbnail-img">
                </div>
                <div class="caption">
                <h3>Question Prompts</h3>
                <p class="large-description">Feeling awkward with somebody you just met? Afraid that your mind would go blank? Question Prompts is here to help! Here are some questions to get the conversation going.</p>
                <p><a href="{{url_for('prompts')}}" class="btn btn-primary" role="button">Play Game!</a></p>
                </div>
            </div>
            </div>
    </div>

    <div class="gamerow">
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="image">
                <img src="https://garticphone.com/images/thumb.png" class="img-rounded thumbnail-img">
            </div>
            <div class="caption">
            <h3>Gartic Phone</h3>
            <p class="description">Gartic Telephone is an online game that mixes Pictionary with the Telephone game (the game where you whisper into the next person's ear all the way round the group and compare the original phrase to what was whispered). This game is the visual version of that: where you draw what you see, and guess what you saw!</p>
            <p><a href="https://garticphone.com/" target="_blank" class="btn btn-primary" role="button">Play Game!</a></p>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="image"><img src="https://e.snmc.io/lk/lv/x/f5f16311753e04803df7050e05cbb8fe/8213417" class="img-rounded thumbnail-img"></div>
            <div class="caption">
                <h3>Tetr.io</h3>
                <p class="description">TETR.IO is a modern yet familiar online stacker. Play against friends and foes all over the world, or claim a spot on the leaderboards - the stacker future is yours!</p>
                <p><a href="https://tetr.io/" target="_blank" class="btn btn-primary">Play Game!</a></p>
            </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="image">
                    <img src="https://www.shellshock.io/img/previewImage_shellShockers.jpg" class="img-rounded thumbnail-img">
                </div>
            <div class="caption">
                <h3>Shell Shockers</h3>
                <p class="description">Shell Shockers is the world's most popular egg-based multiplayer first person shooter! Take control of a heavily armed egg and battle real players across multiplayer maps in private or public arenas. The hit web FPS game comes to your mobile device for eggciting free-range action!</p>
                <p><a href="https://shellshock.io/" target="_blank" class="btn btn-primary" role="button">Play Game!</a></p>
            </div>
            </div>
        </div>
    </div>

    <div class="gamerow">
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="image">
                <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1408720/header.jpg?t=1628744966" class="img-rounded thumbnail-img">
            </div>
            <div class="caption">
            <h3>Krunker</h3>
            <p class="description">Shoot your way through 12 rotation maps to earn rewards. Master the highly skill-based movement system unique to Krunker. If dropping Nukes and Quick-scoping people in pubs isn't your thing, Krunker also offers thousands of custom games to choose from.</p>
            <p><a href="https://krunker.io" target="_blank" class="btn btn-primary" role="button">Play Game!</a></p>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="image"><img src="https://skribbl.io/res/thumbnail.png" class="img-rounded thumbnail-img"></div>
            <div class="caption">
                <h3>Skribbl.io</h3>
                <p class="description">Skribbl.io is a free multiplayer drawing and guessing game. One game consists of a few rounds in which every round someone has to draw their chosen word and others have to guess it to gain points! The person with the most points at the end of game will then be crowned as the winner!</p>
                <p><a href="https://skribbl.io/" target="_blank" class="btn btn-primary">Play Game!</a></p>
            </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="image">
                    <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/945360/capsule_616x353.jpg?t=1625742109" class="img-rounded thumbnail-img">
                </div>
            <div class="caption">
                <h3>Among Us</h3>
                <p class="description">Among Us is a multiplayer game where 10 players get dropped into an alien spaceship, sky headquarters or planet base, where each player is designated with a private role of either a “crewmate” and an “impostor.” This is an online multiplayer social deduction game, and a player can either be a crewmate or an imposter.</p>
                <p><a href="https://store.steampowered.com/app/945360/Among_Us/" target="_blank" class="btn btn-primary" role="button">Play On Desktop!</a></p>
            </div>
            </div>
        </div>
    </div>

    <div class="gamerow">
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="image">
                <img src="https://cdn.gamer-network.net/2020/usgamer/Jackbox-List_Header.jpg/EG11/thumbnail/1920x1080/format/jpg/quality/75/jackbox-party-pack-games-ranked-list.jpg" class="img-rounded thumbnail-img">
            </div>
            <div class="caption">
            <h3>Jackbox Games</h3>
            <p class="description">Jackbox Games makes party games like Quiplash and Drawful for a wide variety of digital platforms. Learn more about their party packs and games.</p>
            <p><a href="https://www.jackboxgames.com/" target="_blank" class="btn btn-primary" role="button">Play Game!</a></p>
            </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="image"><img src="http://houseparty.com/assets/img/og-image.png" class="img-rounded thumbnail-img"></div>
            <div class="caption">
                <h3>Houseparty</h3>
                <p class="description">Houseparty is a social networking app that allows up to eight people to video chat at once in a “room.” It contains games that you can easily play with your friends such as Heads Up.</p>
                <p><a href="https://houseparty.com/" target="_blank" class="btn btn-primary">Play Game!</a></p>
            </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="image">
                    <img src="https://images.squarespace-cdn.com/content/v1/5e4c770320a45e5031bb2203/1593448038232-LQG9UG3S0IMZPMJQYU1S/Covidopoly+Logo+with+Characters.png" class="img-rounded thumbnail-img">
                </div>
            <div class="caption">
                <h3>Covidopoly</h3>
                <p class="description">In ‘Covidopoly,’ players an acquire properties such as ‘Wuhan Market’ and ‘Big Cat Rescue.’ The game even incorporates items like masks. Users can share their game code with anyone, making it a perfect social distancing game.</p>
                <p><a href="https://www.covidopoly.io" target="_blank" class="btn btn-primary" role="button">Play Game!</a></p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}