@font-face {
    font-family: 'Recoleta Alt SemiBold';
    src: url('RecoletaAlt-SemiBold.eot');
    src: local('Recoleta Alt SemiBold'), local('RecoletaAlt-SemiBold'),
        url('RecoletaAlt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-SemiBold.woff2') format('woff2'),
        url('RecoletaAlt-SemiBold.woff') format('woff'),
        url('RecoletaAlt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.navbar-brand {
    font-family: Recoleta Alt SemiBold;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 87px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn.btn-primary {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.break {
    width: 100%;
}

.thumbnail-img {
    width: 100%;
    height: auto;
    padding-top: auto;
    padding-bottom: auto;
}

.image {
    width: 442px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
    display: flex;
}

.description {
    height: 130px;
}

.large-description {
    height: 60px;
}

.large-thumbnail-img {
    width: 100%;
    height: auto;
    padding-top: auto;
    padding-bottom: auto;
}

.large-image {
    width: 680px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
    display: flex;
}

h3 {
    font-family: Recoleta Alt SemiBold;
}

.questions {
    margin: 15px;
}

.card {
    margin-bottom: 20px;
}