@font-face {
    font-family: 'Recoleta Alt SemiBold';
    src: url('RecoletaAlt-SemiBold.eot');
    src: local('Recoleta Alt SemiBold'), local('RecoletaAlt-SemiBold'),
        url('RecoletaAlt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-SemiBold.woff2') format('woff2'),
        url('RecoletaAlt-SemiBold.woff') format('woff'),
        url('RecoletaAlt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.navbar-brand {
    font-family: Recoleta Alt SemiBold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 70px;
    /* margin: 20px; */
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn.btn-primary {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.break {
    width: 100%;
}

.thumbnail-img {
    margin-top: 15px;
    width: 442px;
    height: 350px;
}

h3 {
    font-family: Recoleta Alt SemiBold;
}